---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
---

<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
  <head>
    <script></script>
    <style>
      #cardList li {
        margin: 0;
        list-style-type: none;
      }
      .container {
        display: flex;
        flex-direction: row;
        position: relative;
        columns: 2;
      }

      .left-container {
        width: 40%;
        position: static;
        top: 0;
        left: 0;
        z-index: 1;
        border: 1px solid rgb(70, 147, 80);
      }
      .right-container {
        width: 40%;
        position: relative;
        z-index: 0;
        border: 1px solid rgb(141, 38, 38);
        columns: 3;
        font-size: smaller;
        column-gap: 0px;
        font-size: 1.5vw;
      }
      .right-container ul {
        width: 120%;
        position: relative;
        margin-left: 0;
        list-style-type: none;
      }
      .right-container p:hover {
      }
      .powers-container {
        display: flex;
        justify-content: space-between;
      }
      #attrHagisun,
      #attrHagishi,
      #attrForthgate,
      #attrMutav {
        margin: 0;
        padding: 0;
      }
      #totalPhysicPowerHagishi,
      #totalMagicPowerHagishi,
      #totalUtilityPowerHagishi,
      #totalPhysicPowerHagisun,
      #totalMagicPowerHagisun,
      #totalUtilityPowerHagisun,
      #totalPhysicPowerForthgate,
      #totalMagicPowerForthgate,
      #totalUtilityPowerForthgate,
      #totalPhysicPowerMutav,
      #totalMagicPowerMutav,
      #totalUtilityPowerMutav,
      #totalHagishi,
      #totalHagisun,
      #totalForthgate,
      #totalMutav,
      #attrHagisun,
      #attrHagishi,
      #attrForthgate,
      #attrMutav {
        flex: 1;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }

      h6 {
        padding-left: 50px;
      }
      main.wrapper {
        margin: 5%;
        padding: 0;
        max-width: 100%;
      }
      main.wrapper .stack {
        gap: 10px;
      }
      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
      }
      #cardImagesForthgate,
      #cardImagesHagisun,
      #cardImagesHagishi,
      #cardImagesMutav {
        white-space: nowrap;
        overflow-x: auto;
      }

      #cardImagesAll {
        white-space: nowrap;
        overflow-x: auto;
      }
      #cardImagesHagishi #cardImagesHagisun #cardImagesMutav {
        white-space: nowrap;
        overflow-x: auto;
      }
    </style>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
  </head>
  <body>
    <BaseLayout
      title="Palais | Wavo Yuropha"
      description="Learn about TY's most recent projects"
    >
      <div class="stack gap-20">
        <main class="wrapper stack gap-8">
          <Hero
            title="Palais"
            tagline="Welcome to Lily Palais."
            align="start"
          />
          <div class="container">
            <div class="left-container">
              <div id="cardInfoContainer">
                <!-- 卡片信息将在这里生成 -->
              </div>
            </div>
            <div class="right-container">
              <ul id="cardList">
                <!-- 卡片将在这里生成 -->
              </ul>
            </div>
          </div>

          <div id="buttoms">
            <button id="shuffleButton" onclick="shuffle()">洗牌</button>
            <button id="getHagishiButton" onclick="getHagishi()"
              >八食戰隊</button
            >
            <button id="getHagisunButton" onclick="getHagisun()"
              >初桑戰隊</button
            >
            <button id="getForthgateButton" onclick="getForthgate()"
              >肆門戰隊</button
            >
            <button id="getMutavButton" onclick="getMutav()">Phénix戰隊</button>
            <button id="getAllButton" onclick="getAll()">隨機戰隊</button>
          </div>
          <h6>八食戰隊:</h6>
          <div id="system">
            <div id="cardImagesHagishi"></div>
          </div>
          <div class="powers-container">
            <div id="totalPhysicPowerHagishi">Hagishi 的物理能力：0</div>
            <div id="totalMagicPowerHagishi">Hagishi 的魔法能力：0</div>
            <div id="totalUtilityPowerHagishi">Hagishi 的戰術能力：0</div>
            <div id="totalHagishi">Hagishi 的總能力：0</div>
          </div>
          <div id="attrHagishi">Hagishi 屬性：</div>

          <h6>初桑戰隊:</h6>
          <div id="system">
            <div id="cardImagesHagisun"></div>
          </div>
          <div class="powers-container">
            <div id="totalPhysicPowerHagisun">Hagisun 的物理能力：0</div>
            <div id="totalMagicPowerHagisun">Hagisun 的魔法能力：0</div>
            <div id="totalUtilityPowerHagisun">Hagisun 的戰術能力：0</div>
            <div id="totalHagisun">Hagisun 的總能力：0</div>
          </div>
          <div id="attrHagisun">Hagisun 屬性：</div>

          <h6>肆門戰隊:</h6>
          <div id="system">
            <div id="cardImagesForthgate"></div>
          </div>
          <div class="powers-container">
            <div id="totalPhysicPowerForthgate">Forthgate 的物理能力：0</div>
            <div id="totalMagicPowerForthgate">Forthgate 的魔法能力：0</div>
            <div id="totalUtilityPowerForthgate">Forthgate 的戰術能力：0</div>
            <div id="totalForthgate">Forthgate 的總能力：0</div>
          </div>
          <div id="attrForthgate">Forthgate 屬性：</div>

          <h6>Phénix戰隊:</h6>
          <div id="system">
            <div id="cardImagesMutav"></div>
          </div>
          <div class="powers-container">
            <div id="totalPhysicPowerMutav">Mutav 的物理能力：0</div>
            <div id="totalMagicPowerMutav">Mutav 的魔法能力：0</div>
            <div id="totalUtilityPowerMutav">Mutav 的戰術能力：0</div>
            <div id="totalMutav">Mutav 的總能力：0</div>
          </div>
          <div id="attrMutav">Mutav 屬性：</div>

          <h6>隨機戰隊:</h6>
          <div id="system">
            <div id="cardImagesAll"></div>
          </div>
        </main>
      </div>
    </BaseLayout>

    <!-- 全屏遮罩 -->

    <div class="overlay" id="passwordOverlay">
      <script>
        var isAuthenticated = false;

        if (!isAuthenticated) {
          var password = prompt("請輸入密碼", "");
          if (password === "1") {
            isAuthenticated = true;
            document.getElementById("passwordOverlay").style.display = "none";
          } else {
            alert("請再輸入一次密碼");
            location.href = "examples/javascript/16ex2.html";
          }
        }
      </script>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var dataPoints = [];
        $.getJSON(
          // callback function
          "https://firebasestorage.googleapis.com/v0/b/graph-2cfc7.appspot.com/o/palais.json?alt=media&token=a12f751a-3a31-4931-ab7e-b5de12e85015&_gl=1*u5u5sm*_ga*MTYxNzczOTU2MC4xNjk1MzQ5OTI4*_ga_CW55HF8NVT*MTY5OTI3NTE2Mi45LjEuMTY5OTI3NTk2MS40MS4wLjA.",
          function (response) {
            var jsonData = response;
            console.log("JSON data:", jsonData);
            console.log(dataPoints);
            // 生成卡牌名字
            const cardList = document.getElementById("cardList");
            const cardInfoContainer =
              document.getElementById("cardInfoContainer");

            jsonData.forEach((item) => {
              const listItem = document.createElement("li");
              listItem.textContent = item.nameOriginal;
              listItem.style.cursor = "pointer";
              listItem.style.paddingLeft = "5px";
              listItem.style.listStyleType = "none";
              listItem.style.marginRight = "auto";
              listItem.style.border = "1px solid #ffffff";
              listItem.style.display = "block";
              listItem.style.marginBottom = "0px";
              listItem.style.float = "right";
              listItem.style.lineHeight = "1";
              listItem.style.letterSpacing = "0px";
              listItem.style.textAlign = "left";
              listItem.style.textIndent = "-10px";
              listItem.addEventListener("mouseover", function () {
                displayCardInfo(item);
                listItem.style.backgroundColor = "rgba(78, 112, 112, 0.304)";
                listItem.style.color = "orange";
              });

              // 鼠标移出时清空卡片信息
              listItem.addEventListener("mouseout", function () {
                clearCardInfo();
                listItem.style.backgroundColor = "";
                listItem.style.color = "";
              });

              cardList.appendChild(listItem);
            });

            function displayCardInfo(card) {
              const cardInfoElement = document.createElement("div");
              cardInfoElement.className = "card-info";
              cardInfoElement.innerHTML = `
              <p style="font-size: 40px">${card.command}</p>
              <p style="font-weight: bold">${card.nameOriginal}</p>
              <p>Physic Power: ${card.physicPower}</p>
              <p>Magic Power: ${card.magicPower}</p>
              <p>Utility Power: ${card.utilityPower}</p>
              <p>Attributes: ${card.attributes}</p>
              <p>Ass Size: ${card.assSize}</p>
              <p>Boobs Size: ${card.boobsSize}</p>
              <p>Height (cm): ${card.heightCm}</p>
              <p>Weight (kg): ${card.weightKg}</p>
              <p>${card.profession}</p>
              <p>Combat: ${card.combat}</p>
              <p>Age: ${card.age}</p>
              <img src="/assets/person/${card.name}.png" alt="${card.name}" style="width: 200px; height: auto; margin: -380px 0 0 0; float: right; position: static">
            `;
              cardInfoContainer.innerHTML = ""; // 清空容器
              cardInfoContainer.appendChild(cardInfoElement);
            }

            function clearCardInfo() {
              cardInfoContainer.innerHTML = ""; // 清空卡片信息容器
            }

            const cards = jsonData.map((item) => ({
              id: item.id,
              nameOriginal: item.nameOriginal,
              codeName: item.codeName,
              name: item.name,
              physicPower: item.physicPower,
              magicPower: item.magicPower,
              utilityPower: item.utilityPower,
              dob: item.dob,
              race: item.race,
              attributes: item.attributes,
              gender: item.gender,
              assSize: item.assSize,
              boobsSize: item.boobsSize,
              heightCm: item.heightCm,
              weightKg: item.weightKg,
              command: item.command,
              group: item.group,
              profession: item.profession,
              combat: item.combat,
              favoriteFoods: item.favoriteFoods,
              age: item.age,
            }));

            // Now you can use 'cards' inside this callback function
            console.log("Cards data:", cards);
            // The rest of your code that uses 'cards'
            var imageNamesAll = [
              "Wavo.png",
              "Chiaki.png",
              "Sayuri.png",
              "Hitomi.png",
              "Akimoto_Yuko.png",
              "Etsuko.png",
              "Masako.png",
              "Sorane.png",
              "Kyu.png",
              "Riuri.png",
              "Natsumi.png",
              "Kamira.png",
              "Kazuko.png",
              "Miyu.png",
              "Valmet.png",
              "Mayo.png",
              "Samui.png",
              "Paprika.png",
              "Caleigh.png",
              "Doire_Evewch.png",
              "Z.png",
              "Branwen.png",
              "Lucrece_Yurophas.png",
              "Uiobbeci.png",
              "Draeny_Chevrem.png",
              "Nianca_K794.png",
              "Yui.png",
              "Mesoyei.png",
              "Médicis_Monroe.png",
            ];
            var imageNamesHagishi = [
              "Wavo.png",
              "Chiaki.png",
              "Sayuri.png",
              "Hitomi.png",
              "Akimoto_Yuko.png",
              "Etsuko.png",
              "Masako.png",
            ];
            var imageNamesHagisun = [
              "Sorane.png",
              "Kyu.png",
              "Riuri.png",
              "Natsumi.png",
              "Kamira.png",
              "Kazuko.png",
              "Miyu.png",
              "Valmet.png",
              "Mayo.png",
            ];
            var imageNamesForthgate = [
              "Samui.png",
              "Paprika.png",
              "Caleigh.png",
              "Doire_Evewch.png",
              "Z.png",
              "Branwen.png",
              "Lucrece_Yurophas.png",
              "Uiobbeci.png",
              "Draeny_Chevrem.png",
              "Nianca_K794.png",
              "Yui.png",
              "Mesoyei.png",
            ];
            var imageNamesMutav = ["Médicis_Monroe.png"];

            var containerIdAll = "cardImagesAll";
            var containerIdHagisun = "cardImagesHagisun";
            var containerIdForthgate = "cardImagesForthgate";
            var containerIdMutav = "cardImagesMutav";
            var containerIdHagishi = "cardImagesHagishi";

            function getForthgate() {
              var cardImagesContainer =
                document.getElementById(containerIdForthgate);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = [];
              var selectedCardAttributes = [];

              var availableImages = imageNamesForthgate.slice();
              for (var i = 0; i < 6; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physicPower;
                  totalMagicPower += selectedCard.magicPower;
                  totalUtilityPower += selectedCard.utilityPower;

                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer =
                    document.getElementById(containerIdForthgate);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);

                  selectedCardNames.push(selectedCard.name);
                  selectedCardAttributes.push(selectedCard.attributes);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                "totalPhysicPowerForthgate"
              );
              var totalMagicPowerElement = document.getElementById(
                "totalMagicPowerForthgate"
              );
              var totalUtilityPowerElement = document.getElementById(
                "totalUtilityPowerForthgate"
              );
              var totalForthgateElement =
                document.getElementById("totalForthgate");
              var attrForthgateElement =
                document.getElementById("attrForthgate");

              // Update Forthgate's physical, magic, and utility power values
              totalPhysicPowerElement.textContent =
                "Forthgate 的物理能力：" + totalPhysicPower;
              totalMagicPowerElement.textContent =
                "Forthgate 的魔法能力：" + totalMagicPower;
              totalUtilityPowerElement.textContent =
                "Forthgate 的戰術能力：" + totalUtilityPower;

              attrForthgateElement.textContent =
                "Forthgate 屬性：" + selectedCardAttributes.join(", ");

              // Calculate and update the total power value
              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalForthgateElement.textContent =
                "Forthgate 的總能力：" + totalPower;
            }

            var getForthgateButton =
              document.getElementById("getForthgateButton");
            getForthgateButton.addEventListener("click", function () {
              getForthgate();
            });

            function getMutav() {
              var cardImagesContainer =
                document.getElementById(containerIdMutav);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = [];
              var selectedCardAttributes = [];

              var availableImages = imageNamesMutav.slice();
              for (var i = 0; i < 1; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physicPower;
                  totalMagicPower += selectedCard.magicPower;
                  totalUtilityPower += selectedCard.utilityPower;

                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer =
                    document.getElementById(containerIdMutav);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);

                  selectedCardNames.push(selectedCard.name);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                "totalPhysicPowerMutav"
              );
              var totalMagicPowerElement = document.getElementById(
                "totalMagicPowerMutav"
              );
              var totalUtilityPowerElement = document.getElementById(
                "totalUtilityPowerMutav"
              );
              var totalMutavElement = document.getElementById("totalMutav");
              var attrMutavElement = document.getElementById("attrMutav");

              totalPhysicPowerElement.textContent =
                "Mutav 的物理能力：" + totalPhysicPower;
              totalMagicPowerElement.textContent =
                "Mutav 的魔法能力：" + totalMagicPower;
              totalUtilityPowerElement.textContent =
                "Mutav 的戰術能力：" + totalUtilityPower;

              selectedCardAttributes = cards
                .filter((card) => selectedCardNames.includes(card.name))
                .map((card) => card.attributes);
              attrMutavElement.textContent =
                "Mutav 屬性：" + selectedCardAttributes.join(", ");

              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalMutavElement.textContent = "Mutav 的總能力：" + totalPower;
            }

            var getMutavButton = document.getElementById("getMutavButton");
            getMutavButton.addEventListener("click", function () {
              getMutav();
            });

            function getHagisun() {
              var cardImagesContainer =
                document.getElementById(containerIdHagisun);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = [];
              var selectedCardAttributes = [];

              var availableImages = imageNamesHagisun.slice();
              for (var i = 0; i < 5; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physicPower;
                  totalMagicPower += selectedCard.magicPower;
                  totalUtilityPower += selectedCard.utilityPower;

                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer =
                    document.getElementById(containerIdHagisun);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);

                  selectedCardNames.push(selectedCard.name);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                "totalPhysicPowerHagisun"
              );
              var totalMagicPowerElement = document.getElementById(
                "totalMagicPowerHagisun"
              );
              var totalUtilityPowerElement = document.getElementById(
                "totalUtilityPowerHagisun"
              );
              var totalHagisunElement = document.getElementById("totalHagisun");
              var attrHagisunElement = document.getElementById("attrHagisun");

              totalPhysicPowerElement.textContent =
                "Hagisun 的物理能力：" + totalPhysicPower;
              totalMagicPowerElement.textContent =
                "Hagisun 的魔法能力：" + totalMagicPower;
              totalUtilityPowerElement.textContent =
                "Hagisun 的戰術能力：" + totalUtilityPower;

              selectedCardAttributes = cards
                .filter((card) => selectedCardNames.includes(card.name))
                .map((card) => card.attributes);
              attrHagisunElement.textContent =
                "Hagisun 屬性：" + selectedCardAttributes.join(", ");

              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalHagisunElement.textContent =
                "Hagisun 的總能力：" + totalPower;
            }

            var getHagisunButton = document.getElementById("getHagisunButton");
            getHagisunButton.addEventListener("click", function () {
              getHagisun();
            });

            function getHagishi() {
              var cardImagesContainer =
                document.getElementById(containerIdHagishi);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = []; // 存储选中的卡片名称
              var selectedCardAttributes = []; // 存储选中的卡片属性

              var availableImages = imageNamesHagishi.slice();
              for (var i = 0; i < 4; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);
                selectedCardNames.push(selectedImageName.split(".")[0]);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physicPower;
                  totalMagicPower += selectedCard.magicPower;
                  totalUtilityPower += selectedCard.utilityPower;

                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer =
                    document.getElementById(containerIdHagishi);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                "totalPhysicPowerHagishi"
              );
              var totalMagicPowerElement = document.getElementById(
                "totalMagicPowerHagishi"
              );
              var totalUtilityPowerElement = document.getElementById(
                "totalUtilityPowerHagishi"
              );
              var totalHagishiElement = document.getElementById("totalHagishi");
              var attrHagishiElement = document.getElementById("attrHagishi");

              // 更新 Hagishi 的物理和魔法能力值
              totalPhysicPowerElement.textContent =
                "Hagishi 的物理能力：" + totalPhysicPower;
              totalMagicPowerElement.textContent =
                "Hagishi 的魔法能力：" + totalMagicPower;
              totalUtilityPowerElement.textContent =
                "Hagishi 的戰術能力：" + totalUtilityPower;

              // 获取选中卡片的属性
              selectedCardAttributes = cards
                .filter((card) => selectedCardNames.includes(card.name))
                .map((card) => card.attributes);
              attrHagishiElement.textContent =
                "Hagishi 屬性：" + selectedCardAttributes.join(", ");

              // 计算并更新总能力值
              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalHagishiElement.textContent =
                "Hagishi 的總能力：" + totalPower;
            }

            var getHagishiButton = document.getElementById("getHagishiButton");
            getHagishiButton.addEventListener("click", function () {
              getHagishi();
            });

            function getAll() {
              var cardImagesContainer = document.getElementById(containerIdAll);
              cardImagesContainer.innerHTML = "";
              var availableImages = imageNamesAll.slice();
              for (var i = 0; i < 7; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);

                var imageUrl = `/assets/person/${selectedImageName}`;
                var imageContainer = document.getElementById(containerIdAll);
                var image = document.createElement("img");
                image.src = imageUrl;
                image.alt = "Card";
                image.style.width = "200px";
                image.style.height = "auto";
                image.style.marginRight = "-95px";
                imageContainer.appendChild(image);
              }
            }
            var getAllButton = document.getElementById("getAllButton");
            getAllButton.addEventListener("click", function () {
              getAll();
            });
          }
        );

        // const cards = [
        //   { name: "Wavo", physicPower: 55, magicPower: 2999, utilityPower: 46 },
        //   { name: "Chiaki", physicPower: 876, magicPower: 513, utilityPower: 764 },
        //   { name: "Sayuri", physicPower: 916, magicPower: 456, utilityPower: 695 },
        //   { name: "Hitomi", physicPower: 892, magicPower: 349, utilityPower: 632 },
        //   { name: "Akimoto_Yuko", physicPower: 246, magicPower: 0, utilityPower: 1201 },
        //   { name: "Etsuko", physicPower: 769, magicPower: 0, utilityPower: 1164 },
        //   { name: "Masako", physicPower: 1453, magicPower: 131, utilityPower: 0 },
        //   { name: "Sorane", physicPower: 859, magicPower: 461, utilityPower: 603 },
        //   { name: "Kyu", physicPower: 311, magicPower: 843, utilityPower: 0 },
        //   { name: "Riuri", physicPower: 689, magicPower: 0, utilityPower: 431 },
        //   { name: "Natsumi", physicPower: 653, magicPower: 0, utilityPower: 649 },
        //   { name: "Kamira", physicPower: 390, magicPower: 886, utilityPower: 60 },
        //   { name: "Kazuko", physicPower: 714, magicPower: 564, utilityPower: 243 },
        //   { name: "Miyu", physicPower: 346, magicPower: 864, utilityPower: 0 },
        //   { name: "Valmet", physicPower: 594, magicPower: 0, utilityPower: 623 },
        //   { name: "Mayo", physicPower: 564, magicPower: 411, utilityPower: 925 },
        //   { name: "Samui", physicPower: 395, magicPower: 516, utilityPower: 511 },
        //   { name: "Paprika", physicPower: 154, magicPower: 431, utilityPower: 131 },
        //   { name: "Caleigh", physicPower: 601, magicPower: 26, utilityPower: 201 },
        //   { name: "Doire_Evewch", physicPower: 567, magicPower: 32, utilityPower: 165 },
        //   { name: "Z", physicPower: 423, magicPower: 0, utilityPower: 246 },
        //   { name: "Branwen", physicPower: 372, magicPower: 419, utilityPower: 294 },
        //   { name: "Lucrece_Yurophas", physicPower: 531, magicPower: 13, utilityPower: 264 },
        //   { name: "Uiobbeci", physicPower: 32, magicPower: 503, utilityPower: 61 },
        //   { name: "Draeny_Chevrem", physicPower: 583, magicPower: 94, utilityPower: 394 },
        //   { name: "Nianca_K794", physicPower: 53, magicPower: 0, utilityPower: 241 },
        //   { name: "Yui", physicPower: 16, magicPower: 0, utilityPower: 164 },
        //   { name: "Mesoyei", physicPower: 565, magicPower: 43, utilityPower: 349 },
        //   { name: "Médicis_Monroe", physicPower: 1264, magicPower: 261, utilityPower: 110 },
        // ];
      });
    </script>
  </body>
</html>
