---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
---

<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
  <head>
    <script></script>
    <style>

      .system-container {
        display: flex;
        flex-wrap: wrap;
      }
      #system {
        align-items: center;
        padding-left: -50px;
        margin-left: -50px;
      }
      h4 {
        text-align: left;
      }
      #buttons {
        text-align: center;
      }
      #cardList li {
        margin: 0;
        list-style-type: none;
      }
      .container {
        display: flex;
        flex-direction: row;
        position: relative;
        columns: 2;
      }

      .left-container {
        width: 40%;
        position: static;
        top: 0;
        left: 0;
        z-index: 1;
        border: 1px solid rgb(70, 147, 80);
      }
      .right-container {
        width: 40%;
        position: relative;
        z-index: 0;
        border: 1px solid rgb(141, 38, 38);
        columns: 3;
        font-size: smaller;
        column-gap: 0px;
        font-size: 1.5vw;
      }
      .right-container ul {
        width: 120%;
        position: relative;
        margin-left: 0;
        list-style-type: none;
      }
      .right-container p:hover {
      }
      .powers-container {
        font-size: 10px;
        text-align: center;
      }
      #attrHagisun,
      #attrHagishi,
      #attrRapeharem,
      #attrMutav {
        margin: 0;
        padding: 0;
      }
      #totalPhysicPowerHagishi,
      #totalMagicPowerHagishi,
      #totalUtilityPowerHagishi,
      #totalPhysicPowerHagisun,
      #totalMagicPowerHagisun,
      #totalUtilityPowerHagisun,
      #totalPhysicPowerRapeharem,
      1 #totalMagicPowerRapeharem,
      #totalUtilityPowerRapeharem,
      #totalPhysicPowerMutav,
      #totalMagicPowerMutav,
      #totalUtilityPowerMutav,
      #totalHagishi,
      #totalHagisun,
      #totalRapeharem,
      #totalMutav,
      #attrHagisun,
      #attrHagishi,
      #attrRapeharem,
      #attrMutav {
        flex: 1;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }

      h4 {
        padding-left: 50px;
      }
      main.wrapper {
        margin: 5%;
        padding: 0;
        max-width: 100%;
      }
      main.wrapper .stack {
        gap: 10px;
      }
      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
      }
      #cardImagesRapeharem,
      #cardImagesHagisun,
      #cardImagesHagishi,
      #cardImagesMutav,
      #cardImagesAll {
        white-space: nowrap;
        overflow-x: auto;
        padding-right: 90px;
      }

      #cardImagesAll {
        white-space: nowrap;
        overflow-x: auto;
      }
      #cardImagesHagishi #cardImagesHagisun #cardImagesMutav {
        white-space: nowrap;
        overflow-x: auto;
      }
    </style>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
  </head>
  <body>
    <BaseLayout
      title="Palais | Wavo Yuropha"
      description="Learn about TY's most recent projects"
    >
      <div class="stack gap-20">
        <main class="wrapper stack gap-8">
          <Hero
            title="Palais"
            tagline="Welcome to Lily Palais."
            align="start"
          />

          <div class="container">
            <div class="left-container">
              <div id="cardInfoContainer">
                <!-- 卡片信息将在这里生成 -->
              </div>
            </div>
            <div class="right-container">
              <ul id="cardList">
                <!-- 卡片将在这里生成 -->
              </ul>
            </div>
          </div>

          <div id="buttons">
            <button id="getHagishiButton" onclick="getHagishi()"
              >八食戰隊</button
            >
            <button id="getHagisunButton" onclick="getHagisun()"
              >初桑戰隊</button
            >
            <button id="getRapeharemButton" onclick="getRapeharem()"
              >姦閣戰隊</button
            >
            <button id="getMutavButton" onclick="getMutav()">Phénix戰隊</button>
            <button id="getAllButton" onclick="getAll()">隨機戰隊</button>
          </div>
          <div class="system-container">
          <div id="system">
            <h4>八食</h4>
            <div id="cardImagesHagishi"></div>
            <div class="powers-container">
              <div id="totalPhysicPowerHagishi">Hagishi 的物理能力：0</div>
              <div id="totalMagicPowerHagishi">Hagishi 的魔法能力：0</div>
              <div id="totalUtilityPowerHagishi">Hagishi 的戰術能力：0</div>
              <div id="totalHagishi">Hagishi 的總能力：0</div>
              <div id="attrHagishi">Hagishi 屬性：</div>
            </div>
          </div>
          

          <div id="system">
            <h4>初桑</h4>
            <div id="cardImagesHagisun"></div>
            <div class="powers-container">
              <div id="totalPhysicPowerHagisun">Hagisun 的物理能力：0</div>
              <div id="totalMagicPowerHagisun">Hagisun 的魔法能力：0</div>
              <div id="totalUtilityPowerHagisun">Hagisun 的戰術能力：0</div>
              <div id="totalHagisun">Hagisun 的總能力：0</div>
              <div id="attrHagisun">Hagisun 屬性：</div>
            </div>
          </div>
          

          <div id="system">
            <h4>姦閣</h4>
            <div id="cardImagesRapeharem"></div>
            <div class="powers-container">
              <div id="totalPhysicPowerRapeharem">Rapeharem 的物理能力：0</div>
              <div id="totalMagicPowerRapeharem">Rapeharem 的魔法能力：0</div>
              <div id="totalUtilityPowerRapeharem">Rapeharem 的戰術能力：0</div>
              <div id="totalRapeharem">Rapeharem 的總能力：0</div>
              <div id="attrRapeharem">Rapeharem 屬性：</div>
            </div>
          </div>
          
          <div id="system">
            <h4>Phénix</h4>
            <div id="cardImagesMutav"></div>
            <div class="powers-container">
              <div id="totalPhysicPowerMutav">Mutav 的物理能力：0</div>
              <div id="totalMagicPowerMutav">Mutav 的魔法能力：0</div>
              <div id="totalUtilityPowerMutav">Mutav 的戰術能力：0</div>
              <div id="totalMutav">Mutav 的總能力：0</div>
              <div id="attrMutav">Mutav 屬性：</div>
            </div>
          </div>
          

          <div id="system">
            <h4>隨機</h4>
            <div id="cardImagesAll"></div>
          </div>
        </div>

        </main>
      </div>
    </BaseLayout>

    <!-- 全屏遮罩 -->

    <div class="overlay" id="passwordOverlay">
      <script>
        var isAuthenticated = false;

        if (!isAuthenticated) {
          var password = prompt("請輸入密碼", "");
          if (password === "1") {
            isAuthenticated = true;
            document.getElementById("passwordOverlay").style.display = "none";
          } else {
            alert("請再輸入一次密碼");
            location.href = "examples/javascript/16ex2.html";
          }
        }
      </script>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var dataPoints = [];
        $.getJSON(
          // callback function
          "https://firebasestorage.googleapis.com/v0/b/graph-2cfc7.appspot.com/o/palais.json?alt=media&token=a12f751a-3a31-4931-ab7e-b5de12e85015&_gl=1*u5u5sm*_ga*MTYxNzczOTU2MC4xNjk1MzQ5OTI4*_ga_CW55HF8NVT*MTY5OTI3NTE2Mi45LjEuMTY5OTI3NTk2MS40MS4wLjA.",
          function (response) {
            var jsonData = response;
            // console.log("JSON data:", jsonData);
            // 生成卡牌名字
            const cardList = document.getElementById("cardList");
            const cardInfoContainer =
              document.getElementById("cardInfoContainer");

            jsonData.forEach((item) => {
              const listItem = document.createElement("li");
              listItem.textContent = item.name_original;
              listItem.style.cursor = "pointer";
              listItem.style.paddingLeft = "5px";
              listItem.style.listStyleType = "none";
              listItem.style.marginRight = "auto";
              listItem.style.border = "1px solid #ffffff";
              listItem.style.display = "block";
              listItem.style.marginBottom = "0px";
              listItem.style.float = "right";
              listItem.style.lineHeight = "1";
              listItem.style.letterSpacing = "0px";
              listItem.style.textAlign = "left";
              listItem.style.textIndent = "-10px";
              listItem.addEventListener("mouseover", function () {
                displayCardInfo(item);
                listItem.style.backgroundColor = "rgba(78, 112, 112, 0.304)";
                listItem.style.color = "orange";
              });

              // 鼠标移出时清空卡片信息
              listItem.addEventListener("mouseout", function () {
                clearCardInfo();
                listItem.style.backgroundColor = "";
                listItem.style.color = "";
              });

              cardList.appendChild(listItem);
            });

            function displayCardInfo(card) {
              const cardInfoElement = document.createElement("div");
              cardInfoElement.className = "card-info";
              cardInfoElement.innerHTML = `
              <p style="font-weight: bold; font-size: 50px;">${card.name_original}</p>

              <p>Physic Power: ${card.physic_power}</p>
              <p>Magic Power: ${card.magic_power}</p>
              <p>Utility Power: ${card.utility_power}</p>
              <p>Attributes: ${card.attributes}</p>
              <p>Ass Size: ${card.ass_size}</p>
              <p>Boobs Size: ${card.boobs_size}</p>
              <p>${card.height_cm}(cm)</p>
              <p>${card.weight_kg}(kg)</p>
              <p>${card.profession}</p>
              <p>Job: ${card.job}</p>
              <p>Combat: ${card.combat}</p>
              <p>Concubine: ${card.concubine}</p>
              <p>Main Weapon: ${card.main_weapon}</p>
              <p>Sub Weapon: ${card.sub_weapon}</p>
              <p>Army: ${card.army_name}</p>
              <p>Dept: ${card.dept_name}</p>
              <p>Faction: ${card.faction}</p>
              <img src="/assets/person/${card.name}.png" alt="${card.name}" style="width: 300px; height: auto; margin: -380px 0 0 0; float: right; position: static">
            `;
              cardInfoContainer.innerHTML = ""; // 清空容器
              cardInfoContainer.appendChild(cardInfoElement);
            }

            function clearCardInfo() {
              cardInfoContainer.innerHTML = ""; // 清空卡片信息容器
            }

            const cards = jsonData.map((item) => ({
              id: item.id,
              name_original: item.name_original,
              code_name: item.code_name,
              name: item.name,
              physic_power: item.physic_power,
              magic_power: item.magic_power,
              utility_power: item.utility_power,
              dob: item.dob,
              race: item.race,
              attributes: item.attributes,
              gender: item.gender,
              ass_size: item.ass_size,
              boobs_size: item.boobs_size,
              height_cm: item.height_cm,
              weight_kg: item.weight_kg,
              army_name: item.army_name,
              dept_name: item.dept_name,
              profession: item.profession,
              combat: item.combat,
              favorite_foods: item.favorite_foods,
              job: item.job,
              physics: item.physics,
              known_as: item.known_as,
              personally: item.personally,
              concubine: item.concubine,
              main_weapon: item.main_weapon,
              sub_weapon: item.sub_weapon,
              interest: item.interest,
              likes: item.likes,
              dislikes: item.dislikes,
              faction: item.faction,
            }));

            // Now you can use 'cards' inside this callback function
            console.log("Cards data:", cards);
            // The rest of your code that uses 'cards'
            var imageNamesAll = [
              "Wavo.png",
              "Chiaki.png",
              "Sayuri.png",
              "Hitomi.png",
              "Yuko.png",
              "Etsuko.png",
              "Masako.png",
              "Sorane.png",
              "Kyu.png",
              "Riuri.png",
              "Natsumi.png",
              "Kamira.png",
              "Kazuko.png",
              "Miyu.png",
              "Valmet.png",
              "Mayo.png",
              "Samui.png",
              "Paprika.png",
              "Caleigh.png",
              "Doire.png",
              "Z.png",
              "Branwen.png",
              "Lucrece.png",
              "Uiobbeci.png",
              "Draeny.png",
              "Nianca.png",
              "Yui.png",
              "Mesoyei.png",
              "Monroe.png",
              "Spoke.png",
              "Delsa.png",
              "Ann.png",
              "Shuan.png",
            ];
            var imageNamesHagishi = [
              "Wavo.png",
              "Chiaki.png",
              "Sayuri.png",
              "Hitomi.png",
              "Yuko.png",
              "Etsuko.png",
              "Masako.png",
              "Miku.png",
            ];
            var imageNamesHagisun = [
              "Sorane.png",
              "Kyu.png",
              "Riuri.png",
              "Natsumi.png",
              "Kamira.png",
              "Kazuko.png",
              "Miyu.png",
              "Valmet.png",
              "Mayo.png",
            ];
            var imageNamesRapeharem = [
              "Samui.png",
              "Paprika.png",
              "Caleigh.png",
              "Doire.png",
              "Z.png",
              "Branwen.png",
              "Lucrece.png",
              "Uiobbeci.png",
              "Draeny.png",
              "Nianca.png",
              "Yui.png",
              "Mesoyei.png",
              "Ann.png",
              "Shuan.png",
            ];
            var imageNamesMutav = [
              "Monroe.png",
              "Spoke.png",
              "Delsa.png",
            ];

            var containerIdAll = "cardImagesAll";
            var containerIdHagisun = "cardImagesHagisun";
            var containerIdRapeharem = "cardImagesRapeharem";
            var containerIdMutav = "cardImagesMutav";
            var containerIdHagishi = "cardImagesHagishi";

            function getRapeharem() {
              var cardImagesContainer =
                document.getElementById(containerIdRapeharem);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = [];
              var selectedCardAttributes = [];

              var availableImages = imageNamesRapeharem.slice();
              for (var i = 0; i < 6; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physic_power;
                  totalMagicPower += selectedCard.magic_power;
                  totalUtilityPower += selectedCard.utility_power;

                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer =
                    document.getElementById(containerIdRapeharem);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);

                  selectedCardNames.push(selectedCard.name);
                  selectedCardAttributes.push(selectedCard.attributes);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                "totalPhysicPowerRapeharem"
              );
              var totalMagicPowerElement = document.getElementById(
                "totalMagicPowerRapeharem"
              );
              var totalUtilityPowerElement = document.getElementById(
                "totalUtilityPowerRapeharem"
              );
              var totalRapeharemElement =
                document.getElementById("totalRapeharem");
              var attrRapeharemElement =
                document.getElementById("attrRapeharem");

              // Update Rapeharem's physical, magic, and utility power values
              totalPhysicPowerElement.textContent =
                "Rapeharem 的物理能力：" + totalPhysicPower;
              totalMagicPowerElement.textContent =
                "Rapeharem 的魔法能力：" + totalMagicPower;
              totalUtilityPowerElement.textContent =
                "Rapeharem 的戰術能力：" + totalUtilityPower;

              attrRapeharemElement.textContent =
                "Rapeharem 屬性：" + selectedCardAttributes.join(", ");

              // Calculate and update the total power value
              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalRapeharemElement.textContent =
                "Rapeharem 的總能力：" + totalPower;
            }

            var getRapeharemButton =
              document.getElementById("getRapeharemButton");
            getRapeharemButton.addEventListener("click", function () {
              getRapeharem();
            });

            function getMutav() {
              var cardImagesContainer =
                document.getElementById(containerIdMutav);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = [];
              var selectedCardAttributes = [];

              var availableImages = imageNamesMutav.slice();
              for (var i = 0; i < 3; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physic_power;
                  totalMagicPower += selectedCard.magic_power;
                  totalUtilityPower += selectedCard.utility_power;

                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer =
                    document.getElementById(containerIdMutav);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);

                  selectedCardNames.push(selectedCard.name);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                "totalPhysicPowerMutav"
              );
              var totalMagicPowerElement = document.getElementById(
                "totalMagicPowerMutav"
              );
              var totalUtilityPowerElement = document.getElementById(
                "totalUtilityPowerMutav"
              );
              var totalMutavElement = document.getElementById("totalMutav");
              var attrMutavElement = document.getElementById("attrMutav");

              totalPhysicPowerElement.textContent =
                "Mutav 的物理能力：" + totalPhysicPower;
              totalMagicPowerElement.textContent =
                "Mutav 的魔法能力：" + totalMagicPower;
              totalUtilityPowerElement.textContent =
                "Mutav 的戰術能力：" + totalUtilityPower;

              selectedCardAttributes = cards
                .filter((card) => selectedCardNames.includes(card.name))
                .map((card) => card.attributes);
              attrMutavElement.textContent =
                "Mutav 屬性：" + selectedCardAttributes.join(", ");

              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalMutavElement.textContent = "Mutav 的總能力：" + totalPower;
            }

            var getMutavButton = document.getElementById("getMutavButton");
            getMutavButton.addEventListener("click", function () {
              getMutav();
            });

            function getHagisun() {
              var cardImagesContainer =
                document.getElementById(containerIdHagisun);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = [];
              var selectedCardAttributes = [];

              var availableImages = imageNamesHagisun.slice();
              for (var i = 0; i < 5; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physic_power;
                  totalMagicPower += selectedCard.magic_power;
                  totalUtilityPower += selectedCard.utility_power;

                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer =
                    document.getElementById(containerIdHagisun);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);

                  selectedCardNames.push(selectedCard.name);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                "totalPhysicPowerHagisun"
              );
              var totalMagicPowerElement = document.getElementById(
                "totalMagicPowerHagisun"
              );
              var totalUtilityPowerElement = document.getElementById(
                "totalUtilityPowerHagisun"
              );
              var totalHagisunElement = document.getElementById("totalHagisun");
              var attrHagisunElement = document.getElementById("attrHagisun");

              totalPhysicPowerElement.textContent =
                "Hagisun 的物理能力：" + totalPhysicPower;
              totalMagicPowerElement.textContent =
                "Hagisun 的魔法能力：" + totalMagicPower;
              totalUtilityPowerElement.textContent =
                "Hagisun 的戰術能力：" + totalUtilityPower;

              selectedCardAttributes = cards
                .filter((card) => selectedCardNames.includes(card.name))
                .map((card) => card.attributes);
              attrHagisunElement.textContent =
                "Hagisun 屬性：" + selectedCardAttributes.join(", ");

              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalHagisunElement.textContent =
                "Hagisun 的總能力：" + totalPower;
            }

            var getHagisunButton = document.getElementById("getHagisunButton");
            getHagisunButton.addEventListener("click", function () {
              getHagisun();
            });

            function getHagishi() {
              var cardImagesContainer =
                document.getElementById(containerIdHagishi);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = []; // 存储选中的卡片名称
              var selectedCardAttributes = []; // 存储选中的卡片属性

              var availableImages = imageNamesHagishi.slice();
              for (var i = 0; i < 4; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);
                selectedCardNames.push(selectedImageName.split(".")[0]);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physic_power;
                  totalMagicPower += selectedCard.magic_power;
                  totalUtilityPower += selectedCard.utility_power;

                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer =
                    document.getElementById(containerIdHagishi);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                "totalPhysicPowerHagishi"
              );
              var totalMagicPowerElement = document.getElementById(
                "totalMagicPowerHagishi"
              );
              var totalUtilityPowerElement = document.getElementById(
                "totalUtilityPowerHagishi"
              );
              var totalHagishiElement = document.getElementById("totalHagishi");
              var attrHagishiElement = document.getElementById("attrHagishi");

              // 更新 Hagishi 的物理和魔法能力值
              totalPhysicPowerElement.textContent =
                "Hagishi 的物理能力：" + totalPhysicPower;
              totalMagicPowerElement.textContent =
                "Hagishi 的魔法能力：" + totalMagicPower;
              totalUtilityPowerElement.textContent =
                "Hagishi 的戰術能力：" + totalUtilityPower;

              // 获取选中卡片的属性
              selectedCardAttributes = cards
                .filter((card) => selectedCardNames.includes(card.name))
                .map((card) => card.attributes);
              attrHagishiElement.textContent =
                "Hagishi 屬性：" + selectedCardAttributes.join(", ");

              // 计算并更新总能力值
              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalHagishiElement.textContent =
                "Hagishi 的總能力：" + totalPower;
            }

            var getHagishiButton = document.getElementById("getHagishiButton");
            getHagishiButton.addEventListener("click", function () {
              getHagishi();
            });

            function getAll() {
              var cardImagesContainer = document.getElementById(containerIdAll);
              cardImagesContainer.innerHTML = "";
              var availableImages = imageNamesAll.slice();
              for (var i = 0; i < 7; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);

                var imageUrl = `/assets/person/${selectedImageName}`;
                var imageContainer = document.getElementById(containerIdAll);
                var image = document.createElement("img");
                image.src = imageUrl;
                image.alt = "Card";
                image.style.width = "200px";
                image.style.height = "auto";
                image.style.marginRight = "-95px";
                imageContainer.appendChild(image);
              }
            }
            var getAllButton = document.getElementById("getAllButton");
            getAllButton.addEventListener("click", function () {
              getAll();
            });
          }
        );
      });
    </script>
  </body>
</html>
