---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
  <head>
    <style>
      #cardImages img {
        margin-right: 10px;
      }
      #output {
        font-size: 50px;
        color: rgb(247, 81, 164);
        text-align: center;
        font-weight: bold;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(49, 6, 58, 0.096);
        border-radius: 10px;
        padding: 10px;
      }
      #rule {
        text-align: center;
        margin: -10px 0;
      }
      #buttoms {
        text-align: center;
      }
      #buttoms button {
        font-size: 20px;
        color: rgb(247, 81, 164);
        text-align: center;
        background-color: rgba(49, 6, 58, 0.096);
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        transition: transform 0.3s;
      }
      #buttoms button:hover {
        background-color: rgba(49, 6, 58, 0.3);
        font-weight: bold;
        transform: scale(1.2);
      }
      #system {
        text-align: center;
      }
      #settle {
        font-size: 100px;
        font-weight: bold;
        color: rgb(81, 167, 247);
      }
    </style>
  </head>
  <body>
    <BaseLayout
      title="Palais | Wavo Yuropha"
      description="Learn about TY's most recent projects"
    >
      <div class="stack gap-20">
        <main class="wrapper stack gap-8">
          <Hero
            title="Black Jack"
            tagline="Designed by Tianyi in Taipei."
            align="start"
          />
          <div id="buttoms">
            <button id="shuffleButton" onclick="shuffle()">洗牌</button>
            <button id="getTwoCardsButton" onclick="getTwoCards()"
              >首次發牌</button
            >
            <button id="getOneCardButton" onclick="getOneCard()">加1張牌</button
            >
            <button id="totalScoreButton" onclick="totalScore()">計分</button>
            <button id="stand" onclick="soraneGetCards()">對手加牌</button>
            <button id="settleButton" onclick="settle()">結算</button>
            <button
              id="displayRemainingCardsButton"
              onclick="displayRemainingCards()">剩下的牌</button
            >
          </div>
          <h5 id="rule">規則：</h5>
          <p id="rule">
            將網頁重新整理以重新開始，先後按下"洗牌"及"
            首次發牌"，視需要決定是否加牌，
          </p>
          <p id="rule">
            如不加牌按下"對手加牌"(只需按一次)，對方玩家將開始取牌，您可反覆按下"計分"查看雙方當前分數，
          </p>
          <p id="rule">
            待對方玩家取牌完畢，您可以再次決定是否加牌，如不加牌按下"結算"。
          </p>
          <div id="system">
            <h2>您的手牌:</h2>
            <div id="cardImages"></div>
            <div id="output"></div>
            <div id="settle"></div>
          </div>
          <div id="system">
            <h2>Sorane的手牌:</h2>
            <div id="cardImagesSorane"></div>
            <div id="outputSorane"></div>
          </div>
        </main>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var getCardArray = [];
          var getCardArrayX2 = [];
          var cardImages = "";
          var cardImagesSorane = "";
          var playOneDeck = [];
          var playTwoDeck = [];
          var totalScoreValue = 0;
          var totalScoreValue2 = 0;
          var cardScores = [
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 1, 2, 3, 4, 5, 6, 7, 8,
            9, 10, 10, 10, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 1, 2,
            3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10,
          ];
          document
            .getElementById("totalScoreButton")
            .addEventListener("click", function () {
              totalScore();
            });

          document
            .getElementById("settleButton")
            .addEventListener("click", function () {
              settle();
            });

          document
            .getElementById("shuffleButton")
            .addEventListener("click", function () {
              shuffle();
            });

          document
            .getElementById("getTwoCardsButton")
            .addEventListener("click", function () {
              getTwoCards();
            });

          document
            .getElementById("getOneCardButton")
            .addEventListener("click", function () {
              getOneCard();
            });

          document
            .getElementById("displayRemainingCardsButton")
            .addEventListener("click", function () {
              displayRemainingCards();
            });

          document
            .getElementById("stand")
            .addEventListener("click", function () {
              soraneGetCards();
            });

          function soraneGetCards() {
            var getSoraneCardsElement = document.createElement("p");
            getSoraneCardsElement.textContent =
              "Sorane的手牌: " + giveSoraneCards();
            document.body.appendChild(getSoraneCardsElement);
          }

          function shuffle() {
            var shuffle52 = document.createElement("p");
            shuffle52.textContent = "牌組: " + cardShuffleX2();
            document.body.appendChild(shuffle52);
          }

          function getTwoCards() {
            var getTwoCardsElement = document.createElement("p");
            getTwoCardsElement.textContent = "您的手牌: " + giveTwoCards();
            document.body.appendChild(getTwoCardsElement);
          }

          function getOneCard() {
            var getOneCardElement = document.createElement("p");
            getOneCardElement.textContent = "您的手牌: " + giveOneCard();
            document.body.appendChild(getOneCardElement);
          }

          function displayRemainingCards() {
            var remainingCardsElement = document.createElement("p");
            remainingCardsElement.textContent = "牌組: " + remainCards();
            document.body.appendChild(remainingCardsElement);
          }

          var scoreElement = document.createElement("p");
          function totalScore() {
            var myScore = playerOneScore();
            var soraneScore = playerTwoScore();
            scoreElement.textContent =
              "您的分數: " + myScore + "，" + "Sorane的分數: " + soraneScore;

            document.body.appendChild(scoreElement);

            var underScore = "您還可以繼續加牌";
            var equalScore = "您是贏家";
            var overScore = "掰掰";

            var outputElement = document.getElementById("output");
            if (myScore < 21) {
              outputElement.innerHTML = underScore;
            } else if (myScore <= 21) {
              outputElement.innerHTML = equalScore;
            } else {
              outputElement.innerHTML = overScore;
            }
          }

          var scoreElementSettle = document.createElement("p");
          function settle() {
            var myScore = playerOneScore();
            var soraneScore = playerTwoScore();

            document.body.appendChild(scoreElementSettle);

            var youWin = "您擊敗了Sorane";
            var youlose = "Sorane掠奪了您";
            var draw = "您與Sorane難分上下";

            var outputElement = document.getElementById("settle");
            if (myScore <= 21 && myScore > soraneScore) {
              outputElement.innerHTML = youWin;
            } else if (soraneScore <= 21 && soraneScore > myScore) {
              outputElement.innerHTML = youlose;
            } else if (myScore === soraneScore) {
              outputElement.innerHTML = draw;
            } else if (myScore > 21 && soraneScore <= 21) {
              outputElement.innerHTML = youlose;
            } else if (myScore <= 21 && soraneScore > 21) {
              outputElement.innerHTML = youWin;
            }
          }

          //生成順序牌
          for (var i = 0; i < 52; i++) {
            getCardArray[i] = i;
          }
          //洗第一次
          function cardShuffle() {
            for (var i = 51; i >= 0; i--) {
              var randomChoose = getCardArray[getRandomInt(i)];
              [getCardArray[i], getCardArray[randomChoose]] = [
                getCardArray[randomChoose],
                getCardArray[i],
              ];
            }
            return getCardArray;
          }
          //洗第二次
          function cardShuffleX2() {
            var getCardArrayX2 = cardShuffle();

            for (var i = 51; i >= 0; i--) {
              var randomChooseX2 = getCardArrayX2[getRandomInt(i)];
              [getCardArrayX2[i], getCardArrayX2[randomChooseX2]] = [
                getCardArrayX2[randomChooseX2],
                getCardArrayX2[i],
              ];
            }
            return getCardArrayX2;
          }

          var getCardArrayX2 = cardShuffleX2();
          var cardImagesContainer = document.getElementById("cardImages");
          //首次發牌
          function giveTwoCards() {
            for (var i = 0; i < 2; i++) {
              if (getCardArrayX2.length >= 2) {
                var selectedCard = getCardArrayX2.shift();
                var cardIndex = selectedCard;
                var imageUrl = `/assets/${cardIndex}.jpg`;
                cardImages += `<img src='${imageUrl}' alt='Card'>`;

                cardImagesContainer.innerHTML = cardImages;

                playOneDeck.push(selectedCard);
              }
            }
            return playOneDeck;
          }
          //給Sorane牌
          var cardImagesContainerSorane =
            document.getElementById("cardImagesSorane");

          function giveSoraneCards() {
            for (var i = 0; i < 2; i++) {
              if (getCardArrayX2.length >= 2) {
                var selectedCard = getCardArrayX2.shift();
                var cardIndex = selectedCard;
                var imageUrl = `/assets/${cardIndex}.jpg`;
                cardImagesSorane += `<img src='${imageUrl}' alt='Card'>`;
                playTwoDeck.push(selectedCard);
              }
            }
            var soraneScore = playerTwoScore();
            while (soraneScore < 16) {
              if (getCardArrayX2.length >= 1) {
                var selectedCard = getCardArrayX2.shift();
                var cardIndex = selectedCard;
                var imageUrl = `/assets/${cardIndex}.jpg`;
                cardImagesSorane += `<img src='${imageUrl}' alt='Card'>`;
                playTwoDeck.push(selectedCard);
                soraneScore = playerTwoScore();
              }
            }
            cardImagesContainerSorane.innerHTML = cardImagesSorane;

            return playTwoDeck;
          }
          //加1張牌
          function giveOneCard() {
            if (getCardArrayX2.length >= 1) {
              var selectedCard = getCardArrayX2.shift();
              var cardIndex = selectedCard;
              var imageUrl = `/assets/${cardIndex}.jpg`;

              cardImages += `<img src="${imageUrl}" alt="Card">`;
              cardImagesContainer.innerHTML = cardImages;
              playOneDeck.push(selectedCard);
            }
            return playOneDeck;
          }
          //手牌分數
          function playerOneScore() {
            totalScoreValue = 0;
            var aceCount = 0;
            for (var i = 0; i < playOneDeck.length; i++) {
              var cardValue = cardScores[playOneDeck[i]];
              totalScoreValue += cardValue; // 更新總分值
              if (cardValue === 1) {
                aceCount++;
              }
            }
            while (aceCount > 0 && totalScoreValue <= 11) {
              totalScoreValue += 9;
              aceCount--;
            }
            return totalScoreValue;
          }
          //Sorane分數
          function playerTwoScore() {
            totalScoreValue2 = 0;
            var aceCount = 0;
            for (var i = 0; i < playTwoDeck.length; i++) {
              var cardValue = cardScores[playTwoDeck[i]];
              totalScoreValue2 += cardValue; // 更新總分值
              if (cardValue === 1) {
                aceCount++;
              }
            }
            while (aceCount > 0 && totalScoreValue2 <= 11) {
              totalScoreValue2 += 9;
              aceCount--;
            }
            return totalScoreValue2;
          }

          function remainCards() {
            var remainingCards = getCardArrayX2;
            return remainingCards;
          }

          function getRandomInt(max) {
            return Math.floor(Math.random() * max);
          }
        });
      </script>
    </BaseLayout>
  </body>
</html>
